@model Cuentas.Models.Movimiento

@{
    ViewData["Title"] = "Create";
}

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6">


      <div class="card shadow-lg bg-secondary text-white">
        <div class="card-body">
            <h3 class="card-title">Crear nuevo movimiento</h3>
            <h6 class="card-subtitle mb-3 text-body-secondary">Ingrese los datos del movimiento</h6>

        <form asp-action="Creat">
            <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
            <div class="mb-3">
                <label asp-for="Tipo" class="control-label"></label>
                <input asp-for="Tipo" class="form-control" />
                <span asp-validation-for="Tipo" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Concepto" class="control-label"></label>
                <input asp-for="Concepto" class="form-control" />
                <span asp-validation-for="Concepto" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Monto" class="control-label"></label>
                <input asp-for="Monto" class="form-control" />
                <span asp-validation-for="Monto" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Fecha" class="control-label"></label>
                <input asp-for="Fecha" class="form-control" />
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="IdCuenta" class="control-label"></label>
                <input asp-for="IdCuenta" class="form-control" />
                <span asp-validation-for="IdCuenta" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary w-100">Crear</button>
        </form>
        </div>
    </div>
</div>
<div class="text-center mt-3">
    <a class="btn btn-danger btn-sm" asp-action="Index" class="card-link">Volver a la lista</a>
     </div>
</div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
